.hex-row {
    clear: left;
}

    .hex-row.even {
        margin-left: 23px;
    }


.hexagon {
    float: left;
    margin-left: 3px;
    margin-bottom: -11px;
}

/*Unoccupied hexagon*/
.hexagon-part.top {
    width: 0;
    border-bottom: 13px solid #ECE9E5;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
}

.hexagon-part.middle {
    width: 44px;
    height: 26px;
    background: #ECE9E5;
}

.hexagon-part.bottom {
    width: 0;
    border-top: 13px solid #ECE9E5;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
}

.hexagon:hover .top {
    border-bottom-color: #5265f6;
}

.hexagon:hover .bottom {
    border-top-color: #5265f6;
}

.hexagon:hover .middle {
    background-color: #5265f6;
}

/*Occupied hexagon*/
.hexagon-part.top.occupied {
    width: 0;
    border-bottom: 13px solid #FF504D;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
}

.hexagon-part.middle.occupied {
    width: 44px;
    height: 26px;
    background: #FF504D;
}

.hexagon-part.bottom.occupied {
    width: 0;
    border-top: 13px solid #FF504D;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
}

.hexagon:hover .top.occupied {
    border-bottom-color: #ff6347;
}

.hexagon:hover .bottom.occupied {
    border-top-color: #ff6347;
}

.hexagon:hover .middle.occupied {
    background-color: #ff6347;
}

/*occupied-by-me*/
.hexagon-part.top.occupied-by-me {
    width: 0;
    border-bottom: 13px solid #9EF57F;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
}

.hexagon-part.middle.occupied-by-me {
    width: 44px;
    height: 26px;
    background: #9EF57F;
}

.hexagon-part.bottom.occupied-by-me {
    width: 0;
    border-top: 13px solid #9EF57F;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
}

.hexagon:hover .top.occupied-by-me {
    border-bottom-color: #50c878;
}

.hexagon:hover .bottom.occupied-by-me {
    border-top-color: #50c878;
}

.hexagon:hover .middle.occupied-by-me {
    background-color: #50c878;
}
/*фон hexagon'a*/
.box-inner {
    width: 50px;
    height: 50px;
    background-color: #5265f6;
}

    .box-inner:hover {
        background-color: black;
    }
