@model List<Area>

   <!-- for(int i = 1; i < Model.Count + 1; i++)
    {
        Model.FirstOrDefault(x => x.ID == i).Name;
        <a asp-action="LandList" asp-controller="Land" asp-route-AreaId="i">123</a>
}-->

<div class="w-25 p-3">
    <img src="~/Jaroslav/foto/ob/obl.svg" style="width: 150% ;height: 100%; margin-left: 100px; margin-top: 150px; margin-bottom: 50px;" />
</div>


<!-- Gallery Area Start -->
<div class="alime-portfolio-area section-padding-80 clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Projects Menu -->
                <div class="alime-projects-menu">
                    <div class="portfolio-menu text-center">
                        <button class="btn active" data-filter="*">All</button>
                        <button class="btn" data-filter=".Ownership">Ownership</button>
                        <button class="btn" data-filter=".rent">rent</button>
                        <button class="btn" data-filter=".near">near</button>


                    </div>
                </div>
            </div>
        </div>

        <div class="row alime-portfolio">
            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item Ownership mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="single-portfolio-content">
                    <img src="~/Jaroslav/foto/ob/ob1.svg" style="width: 100% ;height: 100%;" alt="">
                    <div class="hover-content">
                        
                        <a class="portfolio-img" asp-action="LandList" asp-controller="Land" asp-route-AreaId="1">+</a>                        
                    </div>
                </div>
                <h4 class="card-product__title"><a asp-action="LandList" asp-controller="Land" asp-route-AreaId="1">@Model.FirstOrDefault(x => x.ID == 1).Name;</a></h4>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item  Ownership mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="single-portfolio-content">
                    <img src="~/Jaroslav/foto/ob/ob2.svg" alt="">
                    <div class="hover-content">
                        <a href="foto/ob/ob2.svg" class="portfolio-img">+</a>
                    </div>
                </div>
                <h4 class="card-product__title"><a href="#">The first area</a></h4>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item rent mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="single-portfolio-content">
                    <img src="~/Jaroslav/foto/ob/obzero.svg" alt="">
                    <div class="hover-content">
                        <a href="foto/ob/obzero.svg" class="portfolio-img">+</a>
                    </div>
                </div>
                <h4 class="card-product__title"><a href="#">The first area</a></h4>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item rent mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="single-portfolio-content">
                    <img src="~/Jaroslav/foto/ob/obzero.svg" alt="">
                    <div class="hover-content">
                        <a href="foto/ob/obzero.svg" class="portfolio-img">+</a>
                    </div>
                </div>
                <h4 class="card-product__title"><a href="#">The first area</a></h4>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item rent mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="single-portfolio-content">
                    <img src="~/Jaroslav/foto/ob/obzero.svg" alt="">
                    <div class="hover-content">
                        <a href="foto/ob/obzero.svg" class="portfolio-img">+</a>
                    </div>
                </div>
                <h4 class="card-product__title"><a href="#">The first area</a></h4>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item rent mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="single-portfolio-content">
                    <img src="~/Jaroslav/foto/ob/obzero.svg" alt="">
                    <div class="hover-content">
                        <a href="foto/ob/obzero.svg" class="portfolio-img">+</a>
                    </div>
                </div>
                <h4 class="card-product__title"><a href="#">The first area</a></h4>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item near mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="single-portfolio-content">
                    <img src="~/Jaroslav/foto/ob/obzero.svg" alt="">
                    <div class="hover-content">
                        <a href="foto/ob/obzero.svg" class="portfolio-img">+</a>
                    </div>
                </div>
                <h4 class="card-product__title"><a href="#">The first area</a></h4>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item near mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="single-portfolio-content">
                    <img src="~/Jaroslav/foto/ob/obzero.svg" alt="">
                    <div class="hover-content">
                        <a href="foto/ob/obzero.svg" class="portfolio-img">+</a>
                    </div>
                </div>
                <h4 class="card-product__title"><a href="#">The first area</a></h4>
            </div>

            <!-- Single Gallery Item -->

        </div>
    </div>
</div>