@using System.Security.Claims;
@using WebProject.Models.ViewModels;


<div >
  <a href="~/Jaroslav/Land.html"><img src="~/Jaroslav/foto/imnaz.svg" class="img-fluid" alt="To return"  style="height: 30px;margin-top: 70px; margin-left: 250px;"></a></div>
  <div class="blockz">
    <div class="cart_info">        
      <div class="container">
        <div class="text-center" style="margin-bottom: 80px; color: black;"><h1>Making an order</h1></div>
        <div class="row">            
          <div class="col">

            <!-- Column Titles -->
            <div class="cart_info_columns clearfix">
              <div class="cart_info_col cart_info_col_product"><h4>Land plot</h4></div>
              <div class="cart_info_col cart_info_col_price"><h4>Your money</h4></div>
              <div class="cart_info_col cart_info_col_total"><h4>Price</h4></div>
              <div class="cart_info_col cart_info_col_total"><h4>Remains</h4></div>
            </div>
          </div>
        </div>
        <div class="row cart_items_row">
          <div class="col">

            <!-- Cart Item -->
            <div class="cart_item d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">

              <!-- Name -->
              <div class="cart_item_product d-flex flex-row align-items-center justify-content-start">
                <div class="cart_item_image">
                  <div><img src="~/Jaroslav/foto/shesti.svg" alt="" style="height: 170px;margin-top: 10px;margin-left: 20px;"></div>
                </div>
                <div class="cart_item_name_container">
                  <div class="cart_item_name" style="font-size: 25px;color: black;">Registered land plot.</div>
                  <div class="cart_item_edit"><a href="~/Jaroslav/#" >Area ID - #@ViewBag.AreaId  </a></div>
                  <div class="cart_item_edit"><a href="~/Jaroslav/#">Land ID - #@ViewBag.LandId </a></div>
                </div>
              </div>

              <!-- Price -->
              <div class="cart_item_price"><h4>@ViewBag.Money</h4> </div>

              <!-- discount -->
              <div class="cart_item_total"><h4>2500.00 Waxg</h4> </div>

              <!-- Total -->
              <div class="cart_item_total" style="margin-left: 50px;"><h4>@(ViewBag.Money - 2500) Waxg</h4></div>
            </div>
          </div>
        </div>
        <div class="row row_cart_buttons">
          <div class="col">
            <div class="cart_buttons d-flex flex-lg-row flex-column align-items-start justify-content-start">
              <!-- Total --
              <div class="button continue_shopping_button borrad"><a href="~/Jaroslav/Land.html">Continue exploring the map</a></div>
               -- Total -->
              <div class="cart_buttons_right ml-lg-auto">
                <div class="button clear_cart_button borrad"><a href="~/Jaroslav/Nobuy.html">Clear cart</a></div>
              </div>
            </div>
          </div>
        </div>        
        <div class="row row_extra">
          <div class="col-lg-4">

            <!-- Coupon Code -->
            <div class="coupon">
              <div class="section_title">Coupon code</div>
              <div class="section_subtitle">Enter your coupon code</div>
              <div class="coupon_form_container">
                
              </div>
            </div>
          </div>

          <div class="col-lg-6 offset-lg-2 borrad">
            <div class="cart_total ">
              <div class="section_title">Cart total</div>
              <div class="section_subtitle">Final info</div>
              <div class="cart_total_container borrad">
                <ul>
                  <li class="d-flex flex-row align-items-center justify-content-start">
                    <div class="cart_total_title">Subtotal</div>
                    <div class="cart_total_value ml-auto">2600 Waxg</div>
                  </li>
                  <li class="d-flex flex-row align-items-center justify-content-start">
                    <div class="cart_total_title">discount</div>
                    <div class="cart_total_value ml-auto">95,12 Waxg</div>
                  </li>
                  <li class="d-flex flex-row align-items-center justify-content-start">
                    <div class="cart_total_title">Coupon code</div>
                    <div class="cart_total_value ml-auto"> 0 Waxg </div>
                  <li class="d-flex flex-row align-items-center justify-content-start">
                    <div class="cart_total_title" style="margin-top: 50px;"><h3>Total</h3></div>
                    <div class="cart_total_value ml-auto" style="margin-top: 50px;"><h3>2504,88 Waxg</h3></div>
                  </li>
                </ul>
              </div>

              <form method="post">
                  <input name="landId" value="@ViewBag.LandId" type="hidden"/>
                  <input  type="submit" class="button checkout_button borrad" style="margin-top: 30px; color:#A6F78A; "/>
                </form> 
                
              </div>
          </div>
        </div>
                    
        <div class="text-center" style="color: black; font-size: 20px;">* it doesn't matter if there are no funds, click the top up button!</div>
      </div>      
    </div>    
  </div>
  


