@{
    ViewData["Title"] = "Home Page";
    ViewData["Selected_page"] = "Index";
}

<div class="ftco-service-image-1 pb-5">

    <div class="container-my">
        <img src="~/Jaroslav/foto/bloki.svg" class="img-fluid" alt="bloki" style="height: 340px; margin-top: 200px;">
        <div class="service text-center">

            <div class="px-md-3">
                <div class="row">
                    <figure class="text-left col-3 mx-auto " id="text-my">
                        <blockquote class="blockquote">
                            <br></br>
                            <p class="mb-0 text-shop fs-4">Buy currency in the store <a href="~/Jaroslav/">www.WaxVing.com/store</a> or on the stock exchange.</p>

                        </blockquote>

                    </figure>
                    <figure class="text-center col-3 mx-auto" id="text-my">
                        <blockquote class="blockquote">
                            <br></br>
                            <p class="mb-0 text-shop fs-4">Choose the earth cell you like and buy it.</p>
                        </blockquote>

                    </figure>
                    <figure class="text-right col-3 mx-auto" id="text-my">
                        <blockquote class="blockquote">
                            <br></br>
                            <p class="mb-0 text-shop fs-4">Develop it and combine it with other cells.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-light text-center" id="services-section">
    <div class="container-my">
        <div class="row mb-5 justify-content-center text-center">
            <div class="col-md-7">
                <div class="block-heading-1" data-aos="fade-up" data-aos-delay="">
                    <h2>Pricing</h2>
                    <p>At the moment there are only two types of ownership of a plot of land : purchase in ownership or lease. </p>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-6" data-aos="fade-up" data-aos-delay="">
                <div class="pricing">
                    <h3 class="text-center text-black">Ownership</h3>
                    <div class="price text-center mb-4 ">
                        <span><span>2504,88 WaxV</span> / forever</span>
                    </div>
                    <ul class="list-unstyled ul-check success mb-5">
                        <li>Permanent access to the site</li>
                        <li>Available for merging</li>
                        <li class="remove">Possible sale </li>
                        <li class="remove"> He's yours forever</li>

                    </ul>
                    <p class="text-center">
                        <a href="~/Jaroslav/#" class="btn btn-primary btn-md text-white">Buy Now</a>
                    </p>
                </div>
            </div>

            <div class="col-md-6 mb-4 mb-lg-0 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="pricing">
                    <h3 class="text-center text-black">Rent</h3>
                    <div class="price text-center mb-4 ">
                        <span><span>$10.44</span> / two months</span>
                    </div>
                    <ul class="list-unstyled ul-check success mb-5">
                        <li>Temporary access to a plot of land</li>

                    </ul>
                    <p class="text-center">
                        <a href="~/Jaroslav/#" class="btn btn-primary btn-md text-white">Buy Now</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-my">
    <div class="row">
        <div class="col-xs-3 col-md-3 offset-md-1" style="margin-top: 50px;"><a href="~/Jaroslav/lotto.html"><img class="small-rotate img-fluid" src="~/Jaroslav/foto/lotto.svg" alt="lotto" /></a></div>
        <div class="col-xs-3 col-md-3 offset-md-1" style="margin-top: 50px;"><a href="~/Jaroslav/crane.html"><img class="small-rotate img-fluid" src="~/Jaroslav/foto/crane.svg" alt="crane" /></a></div>
        <div class="col-xs-3 col-md-3 offset-md-1" style="margin-top: 50px;"><a href="~/Jaroslav/Store.html"><img class="small-rotate img-fluid" src="~/Jaroslav/foto/store.svg" alt="store" /></a></div>
        <div class="clearfix hidden-xs hidden-sm"></div>
        <div class="col-xs-3 col-md-3 offset-md-1" style="margin-top: 50px;"><a href="~/Jaroslav/index.html"><img class="small-rotate img-fluid" src="~/Jaroslav/foto/waxv.svg" alt="waxv" /></a></div>
        <div class="col-xs-3 col-md-3 offset-md-1" style="margin-top: 50px;"><a href="~/Jaroslav/Land.html"><img class="small-rotate img-fluid" src="~/Jaroslav/foto/land.svg" alt="land" /></a></div>
        <div class="col-xs-3 col-md-3 offset-md-1" style="margin-top: 50px;"><a href="~/Jaroslav/#"><img class="small-rotate img-fluid" src="~/Jaroslav/foto/soon2.svg" alt="soon" /></a></div>
    </div>
</div>


<div class="site-section" id="faq-section">
    <div class="container-my">
        <div class="row mb-5">
            <div class="block-heading-1 col-12 text-center">
                <h2>Frequently Ask Questions</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">

                <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="text-black h4 mb-4"><span class="icon-question_answer text-primary mr-2"></span>Can I accept both Paypal and Stripe?</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>

                <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="text-black h4 mb-4"><span class="icon-question_answer text-primary mr-2"></span>What available is refund period?</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>

                <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="text-black h4 mb-4"><span class="icon-question_answer text-primary mr-2"></span>Can I accept both Paypal and Stripe?</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>

                <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="text-black h4 mb-4"><span class="icon-question_answer text-primary mr-2"></span>What available is refund period?</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="text-black h4 mb-4"><span class="icon-question_answer text-primary mr-2"></span>Where are you from?</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>

                <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="text-black h4 mb-4"><span class="icon-question_answer text-primary mr-2"></span>What is your opening time?</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>

                <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="text-black h4 mb-4"><span class="icon-question_answer text-primary mr-2"></span>Can I accept both Paypal and Stripe?</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>

                <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="text-black h4 mb-4"><span class="icon-question_answer text-primary mr-2"></span>What available is refund period?</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
            </div>
        </div>
    </div>
</div>