

<div class="btn-group">
    <button type="button" class="btn-circle btn btn-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="~/img/qqq/ptichka with a cylinder.svg">
    </button>
    <span class="q1">NickName</span>
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="button" class="btn btn btn-outline-danger" value="Logout" /><img src="~/img/qqq/exit.svg">
    </form>

    <div class="dropdown-menu dropdown-menu-right" style="background-color: #F8FFEA;">

        <hr class="dropdown-divider">
        <div style="height: 60px; padding: 0px;">
            <div class="q2" style="background-image: url('@Url.Content("~/img/qqq/101.svg")'); height: 54px;width: 54px;">
                <div class="q3"><span>130570.47 WaxW</span></div>
            </div>

        </div>

        <hr class="dropdown-divider">
        <div>
            <a href="#" class="q4">
                <img src="~/img/qqq/settings 1.svg">
                <button class="dropdown-item" type="button">Settings</button>
            </a>
        </div>
        <div>
            <a href="#" class="q4">
                <img src="~/img/qqq/belgium_1.svg">
                <button class="dropdown-item" type="button">Language: English</button>
            </a>
        </div>
        <div>
            <a href="#" class="q4">
                <img src="~/img/qqq/hexagon 1.svg">
                <button class="dropdown-item" type="button">Land list</button>
            </a>
        </div>

        <div class="q5"><img src="~/img/qqq/Deposit & Withdraw.svg" style="margin-top: 25px;">   </div>

    </div>
</div>