<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/downloaded/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/hexagons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="mb-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/Frame.png" style="height:40px" />
                    WixWing
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor03">
                    
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link @if(ViewData["Selected_page"] == "Index"){<text>active</text>}" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            <span class="visually-hidden">(current)</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @if(ViewData["Selected_page"] == "Land"){<text>active</text>}" asp-area="" asp-controller="Land" asp-action="AreaList">Land</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @if(ViewData["Selected_page"] == "Shop"){<text>active</text>}" asp-area="" asp-controller="" asp-action="">Shop</a>
                        </li>
                        
                    </ul>
                    <div class="d-flex">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <input type="submit" class="btn btn btn-outline-danger" value="Logout" />
                            </form>
                           
                        }
                        else
                        {
                            <a class="btn btn btn-outline-light mx-2" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            <a class="btn btn btn-outline-primary" asp-area="" asp-controller="Account" asp-action="Register">Registration</a>
                        }
                    </div>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted ">
        <div class="container">
            &copy; 2022 - WebProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl, {html:true})
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
